# Dependencies
node_modules

# Build output
dist
dist-ssr

# Environment variables (kalau nanti pakai .env untuk simpan URL/API key sensitif)
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / OS files
.DS_Store
*.local
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
